<%- include ("../partials/header") %>
  <div class="container">
    <h4 class="text-center ">View all the notifications</h4>
    <hr>
    <div>
        <% allnotifications.forEach(function( notification) {%>
          <div row>
            <% if(notification.campgroundId){ %> 
              <a class="icon-style" href="/campgrounds/<%= notification.campgroundId  %> " >
                  <strong> <%= notification.username %>  </strong>
                  <span class="float-right"><%=moment( notification.createdAt, "YYYYMMDD").fromNow() %></span>
                    <p> created a new campground.   </p> 
                  </a>
                 <% }else {%>
                  <a class="icon-style" href="/users/<%= notification.userId %> " >
                  <strong> <%= notification.username %>  </strong>
                  <span class="float-right"><%=moment( notification.createdAt, "YYYYMMDD").fromNow() %></span>
                  <p>Started following you.</p>
                 </a>
                  <% } %> 
                  <hr>
          </div>
           
            
        <% }) %> 
    </div>
  </div>
  




<%- include ("../partials/footer") %>