<%- include ("../partials/header") %>

 <div class="container page-styles">
     <header class="jumbotron">
       <h1 class="h1">Welcome to Yelpcamp!</h1>
       <p class="h5">View our handpicked campgrounds.</p>
       <p>
          <a class="btn btn-primary" href="/campgrounds/new">Add new campground</a>
       </p>

      </header>
     <div id="ind" class="row text-center mb-5 mx-auto justify-content-center">
        <% campgnd.forEach(function(m){ %>
          <a href="/campgrounds/<%=m._id %>" class="icon-style" >
                <div class="card bg" >
                    <img class="card-img-top" src="<%= m.image %>" alt="Card image cap">
                    <div class="card-body">
                      <% if(m.rating>0){ %>
                      <span class="review" > <%= m.rating %><i class='fa fa-star fa-fw'></i></span>
                    <% } %> 
                      <h5 class="card-title"> <%= m.name %>, <%= m.city%></h5>     
                    </div>
                  </div>
              </a>
            
        <% }); %>
 </div>

</div>
<%- include ("../partials/footer") %>