<%- include ("../partials/header") %>
 <div class="container page-styles mb-3">
    <div class="row">
      <div class="col-md-8">
        <div class=" img-thumbnail "> 
          <img src="<%= campground.image %>" class="  "> 
          <div class="x">
           <div class="row ">
             <div class="col ">
               <h4><%= campground.name %>, <%= campground.city %>  </h4>
               <% if(campground.rating>0){%> 
                <span class="review" > <%= campground.rating %><i class='fa fa-star fa-fw'></i></span>
                <% }else{ %>
                  <h6>No rating yet be the first one to rate</h6>
                  <%  }          %> 
             </div>
             <div class="col ">
               <h4 class="float-right">₹<%= campground.price %>/night</h4>
             </div> 
           </div>
           <p> <%= campground.description %> </p>
           <div>
            <em> Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a> </em>
            <span class="float-right"><%=moment( campground.createdAt, "YYYYMMDD").fromNow() %></span>
           </div>
            
            <% if(currentUser &&  campground.author.id.equals(currentUser._id)) { %> 
           <a class="icon-style" href="/campgrounds/<%= campground._id %>/edit "> <i class="fa fa-pencil" aria-hidden="true"></i></a>
           <form class="obj-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
             <input type="hidden" name="_method" value="DELETE">
             <button style="background: transparent;border: none;"><i class="fa fa-trash" aria-hidden="true"></i></button>
           </form>
           <% } %> 
          </div>
        </div>

       <div class="card card-body bg-light">
          <div class="text-right">
               <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new" > Add new comment  </a>
          </div>
          <hr>
          <% campground.comments.forEach(function(comment){  %>
             <div class="row">
                 <div class="col-md-12">
                   <strong><%= comment.author.username %></strong>
                     <span class="float-right"><%=moment(comment.createdAt, "YYYYMMDD").fromNow() %></span>
                   <p style="margin: 0;">         
                       <%= comment.text %> 
                   </p>
                   <% if(currentUser &&  comment.author.id.equals(currentUser._id)) { %> 
                   <a class="icon-style" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                   <form id="delete-comment" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                     <input type="hidden" name="_method" value="DELETE">
                     <button style="background: transparent;border: none;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                   </form>
                 <% } %> 
                 </div>
             </div>                 
           <%   }) %>
       </div>
   </div>

        <div class="col-md-4">
           
         <!-- <div class = "rating-system">
            <h5 id = "rating-head">Rate </h5>
            <div class= "rating">
                 <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                 <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                 <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                 <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                 <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
             </div>
         </div> -->
         <div id="rating" class="bg">        
          <header class='header text-center ' style="padding: 0;">
            <h5>Rate <%=campground.name  %> </h5>
        </header>
        
        <section class='rating-widget'>
          
          <!-- Rating Stars Box -->
          <div class='rating-stars text-center'>
            <form  id="rating-form" action="/campgrounds/<%= campground._id%>/reviews" method="POST">
            <ul id='stars'>
              <li class='star'  title='Poor' data-value='1' >
                <label for="r1"><i class='fa fa-star fa-fw'></i></label>
                <input type="radio" name="rating" value=1 id="r1" >
                          
              </li>
              <li class='star'  title='Fair' data-value='2'>
                <label for="r2"><i class='fa fa-star fa-fw'></i></label>
                <input type="radio" name="rating" id="r2"  value=2 >
                 
                          
              </li>
              <li class='star' title='Good' data-value='3'>
                <label for="r3"><i class='fa fa-star fa-fw'></i></label>
                <input type="radio" name="rating" id="r3" value=3 >
              </li>
              <li class='star' title='Excellent' data-value='4'>
                <label for="r4"><i class='fa fa-star fa-fw'></i></label>
                <input type="radio" name="rating" id="r4"  value=4>
               
              </li>
              <li class='star' title='WOW!!!' data-value='5'>
                <label for="r5"><i class='fa fa-star fa-fw'></i></label>
                <input type="radio" name="rating" id="r5"  value=5 >
                
              </li>
            </ul>
            <h5 for="">Write a review</h5>
            <textarea rows="4" cols="40" name="review"></textarea>
           
            <button class="btn btn-primary ">Submit!</button>
          
          </form>
            
        
         
          </div>  
         </div> 
         <div class="bg">
           <div class="all-review">
          <h5>Reviews</h5>
          <hr>
          <% if (campground.reviews.length === 0) { %>
            <h6>No rating yet be the first one to rate</h6>  
         <% } else { %>
           <% campground.reviews.forEach(function(reviewItem){ %>
            <div>
            <span class="review " > <%=reviewItem.rating %><i class='fa fa-star fa-fw'></i></span>
            <a class="m-0 same-line" href="/users/<%= reviewItem.author.id %>"><%= reviewItem.author.username %> </a>
  
            <p><%= reviewItem.review %></p>
          </div>
               
               <hr>
           <% }); }%> 
       </div>
      </div> 

  <!-- <p class="lead ">Yelpcamp</p>
            <div class="list-group">
                 <li class="list-group-item active">Info 1</li>
                 <li class="list-group-item">Info 2</li>
                 <li class="list-group-item">Info 3</li>
            </div>
        </div> -->
      </div>
 </div>


   

<%- include ("../partials/footer") %>